<label for="{{ process }}--{{ port }}">{{ label }}</label>
<input type="text" id="{{ process }}--{{ port }}" name="{{ process }}--{{ port }}" value="{{ default_value }}" placeholder="{{ placeholder }}">